@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Karla:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* -----------------preloader----------------- */
#box {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--dark-green);
    background-size: cover;
    z-index: 50;
}

.custom_container {
    max-width: 1200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}



.preloader_logo {

    animation: preloader 2s linear infinite;
}

@keyframes preloader {
    0% {
        transform: scale(1.3);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}

/* -------------BackToTop-------------- */
#scroll {
    position: fixed;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    background-color: var(--green-blue);
    text-indent: -9999px;
    border: 2px solid var(--green-bluer) !important;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    z-index: 20;
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
}

#scroll:hover {
    box-shadow: 0px 5px 10px var(--green-blue)
}

/* -----------navbar--------- */
.web_bg {
    background-color: var(--darker-blue);
}

.explore_btn {
    padding: 10px 28px !important;
    background: var(--green-blue);
    border-radius: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: var(--fs-3sm);
    transition: all .3s linear;
}

.explore_btn:hover {
    box-shadow: 0px 5px 10px #00EAC7;
}

.nav_link::after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 0;
    background-color: var(--green-blue);
    transition: 0.5s;
}

.nav_link:hover::after {
    width: 80%;
}

.nav_link:hover {
    color: var(--green-blue) !important;
}

.nav_link {
    position: relative;
    transition: all .5s linear;
}

.navbar-toggler {
    border: none !important;
    transition: none !important;
    background: white;
    font-size: 20px !important;
}

.navbar {
    --bs-navbar-toggler-focus-width: none !important;
    padding-top: 0 !important;
}

/* -----------hero-section----------- */
.hero_bg {
    background-image: url(../image/png/Hero_layer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.my_container {
    max-width: 1670px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.start_btn {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: var(--fs-5sm);
    padding: 14px 23px 15px 17px;
    color: var(--green-color);
    background-color: var(--dark-green);
    border-radius: 48px;
    transition: all .3s linear;
}

.start_btn:hover {
    background-color: var(--green-blue);
    color: black;
    box-shadow: 0px 4px 8px var(--green-blue);
}

.start_btn path {
    transition: all .2s linear;
}

.start_btn:hover path {
    fill: black;
}

.start_btn.svg path .max_w_392 {
    max-width: 392px;
}

.line {
    position: relative;
}

.line::before {
    content: ' ';
    position: absolute;
    border: 1px solid var(--green-blue);
    width: 64px;
    height: 2px;
    top: 58px;
    left: 0;
}

/* -----------Featured in-------- */
.featured_layer {
    background-image: url(../image/png/featured_bg_layer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.self_conatiner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.border_bottom {
    border-bottom: 1px solid var(--navy-blue);
}

.max_width_1200 {
    max-width: 1200px;
}

/* ----------card--------- */
.Infocard {
    background: linear-gradient(180deg, #14202A 0%, rgba(20, 32, 42, 0) 100%);
    border: 1px solid var(--navy-blue);
    border-radius: 2px;
    transition: all 300ms linear;
}

.cardLine {
    position: relative;
}

.cardLine::before {
    content: ' ';
    position: absolute;
    border: 1px solid var(--green-blue);
    width: 2px !important;
    height: 24px !important;
    top: 2.4px;
    left: -76px;
}

.minicard {
    padding: 26px 40px 36px 49px;
}

.minicard_hover {
    transform: translateY(0px);
    transition: all 150ms linear;
}

.Infocard:hover .minicard_hover {
    transform: translateY(-10px);

}

.Infocard:hover {
    box-shadow: 2px 3px 5px #00EAC7;
    cursor: pointer;
}

.arrow_btn {
    transition: all 300ms linear;
}

.arrow_btn:hover {
    color: aqua;
}

.arrow_btn:hover path {
    fill: aqua;
}


.glass_effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.glass_effect::before {
    content: '';
    background: rgb(500, 500, 500, 0.4);
    width: 10%;
    height: 100%;
    left: -125%;
    top: 0%;
    transform: skew(45deg);
    filter: blur(25px);
    position: absolute;
    transition: left .5s ease-in-out;
}

.glass_effect:hover::before {
    left: 150%;
}

/* -------details----------- */
.sec_line1,
.sec_line2,
.sec_line3,
.sec_line4 {
    position: relative;
}

.sec_line1::before {
    content: ' ';
    position: absolute;
    border: 1px solid var(--green-blue);
    width: 64px;
    height: 2px;
    top: 35px;
    left: 0;
}

.sec_line2::before {
    content: ' ';
    position: absolute;
    border: 1px solid var(--green-blue);
    width: 64px;
    height: 2px;
    top: 35px;
    left: 34px;
}

.sec_line3::before {
    content: ' ';
    position: absolute;
    border: 1px solid var(--green-blue);
    width: 64px;
    height: 2px;
    top: 35px;
    left: -2px;
}

.sec_line4::before {
    content: ' ';
    position: absolute;
    border: 1px solid var(--green-blue);
    width: 64px;
    height: 2px;
    top: 35px;
    left: -15px;
}

/* -----------+/-?=--------- */
.grident_bg {
    background-image: url(../image/png/grident_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.blockchain_card {
    background: linear-gradient(#14202A 63%, #111B24 80%) !important;
    border: 1px solid #1B2B38;
    cursor: pointer;

}
.blockchain_card:hover img {
    transform: scale(1.1);
}

.block_line {
    position: relative;
}

.block_line::before {
    content: ' ';
    position: absolute;
    border: 1px solid var(--green-blue);
    width: 2px;
    height: 80px;
    top: -9px;
    right: 0px;
}

.max_w_238 {
    max-width: 238px;
}

.w_150 {
    width: 150%;
}

.max_w_300 {
    max-width: 300px;
}

.block_minicard {
    padding: 23px 13px 13px 24px;
}

/* ----application---------- */
.bottom_line {
    position: relative;
}

.bottom_line::before {
    content: ' ';
    position: absolute;
    border: 1px solid var(--green-blue);
    width: 64px;
    height: 2px;
    bottom: -11px;
    left: 0;
}

.ecosystem_btn {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: var(--fs-5sm);
    padding: 16px 24px;
    color: var(--green-color);
    background-color: var(--dark-green);
    border-radius: 48px;
    transition: all 300ms linear;
}

.ecosystem_btn:hover {
    background-color: var(--green-blue);
    color: black;
    box-shadow: 0px 4px 8px var(--green-blue);
}

.application_ani {
    animation-name: scroll;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translateY(200px);
    overflow: auto;


}

.max_height {
    max-height: 1000px;
}

@keyframes scroll {
    0% {

        transform: translateY(100%);
    }

    100% {

        transform: translateY(-100%);
    }

    0% {

        transform: translateY(100%);
    }

}

/* --------network------------------- */
.translate {
    transform: translateX(-70px);
}


/* <!-- ------------adoption----------- --> */
.slide_box {
    background: #14202A;
    border: 1px solid rgba(255, 255, 255, 0.07) !important;
    border-radius: 2px;
    padding: 13px 0px 13px 17px;
    cursor: pointer;
    transition: all .3s linear;
}

.slide_box:hover {
    transform: translateY(-5px);
}

.slide_box {
    opacity: 0.5;
}

.vertical_slider .slick-current.slide_box {
    opacity: 1 !important;
}

.max_w_78 {
    max-width: 78px;
}


/* -----------community----- */
.community_line {
    position: relative;
}

.community_line::before {
    content: ' ';
    position: absolute;
    border: 1px solid var(--green-blue);
    width: 64px;
    height: 2px;
    bottom: -23px;
    left: -186px;
}

/* ---------ecosystem------- */
.eco_bg_layer {
    background-image: url(../image/png/ecosystem_bg_layer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.eco_box {
    background: linear-gradient(90.25deg, #14202A 0.24%, rgba(20, 32, 42, 0) 99.79%);
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #1B2B38;
    border-radius: 2px;
    cursor: pointer;
    height: 100%;
}

.mini_eco_box {
    padding: 30px 37px 12px 33px;
    transition: all 300ms linear;
}

.mini_eco_box:hover {
    transform: translateY(-10px);
}

.ecoLine {
    position: relative;
}

.ecoLine::before {
    content: ' ';
    position: absolute;
    border: 1px solid var(--green-blue);
    width: 2px !important;
    height: 21px !important;
    top: 2.4px;
    left: -16px;
}
.link-btn {
    background: #0F3034;
    border-radius: 48px 0px 0px 48px;
    width: 125px;
    height: 48px;
    cursor: pointer;
}
.card-slider-btn {
    overflow: hidden;
    position: absolute;
    bottom: 0%;
    right: -80px;
    transition: 500ms linear;
}
.eco_box:hover .card-slider-btn {
    right: 0;
}


/* -------------footer------------ */
.email_box {
    background: #0F171F;
    border: 1px solid #16232E;
    border-radius: 2px 48px 48px 2px;

}

.email_inner_box {
    background: #0F171F;
    border: none;
    color: #BCCBD6;
    padding-left: 11px;
    outline: none;
}

.subscribe {
    padding: 11px 16px;
    font-weight: medium;
    font-size: var(--fs-3sm);
    white-space: nowrap;
    background: #00EAC7;
    border-radius: 48px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.footer_box {
    padding: 16px 28px 42px 25px;
    border: 1px solid #1B2B38;
    border-radius: 2px;
    cursor: pointer;
    transition: all .2s linear;
}
.footer_box:hover{
    transform: scale(1.01);
    box-shadow: 0px 2px 4px var(--green-blue);
}

.logo svg path {
    transition: all 300ms linear;
}

.logo svg path:hover {
    fill: #00EAC7;
}

.logo svg {
    transition: all 300ms linear;
}

.logo svg:hover {
    transform: translateY(-5px);
}

.footer_links {
    transition: all 300ms linear;
}

.footer_links:hover {
    color: var(--green-blue) !important;
}

.zoom {
    overflow: hidden;
    margin: 0 auto;
}

.zoom>img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.ol,
ul {
    padding-left: 0 !important;
}

/* -------------checkbox_bg---------- */
.checkbox_bg {
    display: block;
    position: relative;
    cursor: pointer;
}

input[type=checkbox] {
    visibility: hidden;
}

.checked_bg {
    position: absolute;
    top: 7px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--darker-blue);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 4px;
}

.checkbox_bg input:checked~.checked_bg {
    background-color: #00EAC7;
}

.checked_bg:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox_bg input:checked~.checked_bg:after {
    display: block;
}

.checkbox_bg .checked_bg:after {
    left: 7px;
    bottom: 5px;
    width: 5px;
    height: 10px;
    border: 1px solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media (max-width:992px) {
    .minicard {
        padding: 16px 30px 26px 39px;
    }

    .translate {
        transform: none;
    }
    .card-slider-btn {
        bottom: 0;
    }
    .link-btn {
        background: #0F3034;
        border-radius: 30px 0px 0px 30px;
        width: 120px;
        height: 35px;
        cursor: pointer;
    }
}

@media (max-width:768px) {
    .minicard {
        padding: 16px 15px 16px 20px;
    }

    .cardLine::before {
        top: 2.4px;
        left: -71px;
    }

    .h_md_75 {
        height: 50%;
    }
}

@media (max-width:576px) {
    .cardLine::before {
        top: 2.4px;
        left: -66px;
    }

    #scroll {
        width: 35px;
        height: 35px;
    }

    .community_line::before {
        bottom: -15px;
        left: -150px;
    }

    .navbar-toggler {
        font-size: 14px !important;
    }
}

@media (min-width:1800px) and (max-width:1920px) {
    .eco_bg_layer {
        background-size: 100% 100%;
    }
}

@media (max-width:600px) {
    .logo_img {
        width: 200px !important;
    }

}